
<article class="post">

  {% if post.external_url %}
    <header class="post-header">
      <h1>{{ post.title }}</h1>
    </header>
  {% else %}
    <h1>{{ post.title }}</h1>
    <span class="post-meta">
      <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}{% if post.category %} | {{ post.category }}{% endif %}</time>
    </span>
    <p><a href="{{ post.url | prepend: site.baseurl }}" title="Permalink to: {{ post.title }}" class="read-more">{{ post.content | strip_html | truncatewords: 30 }}</a></p>
  {% endif %}


</article>