
<div class="clearfix"></div>

<footer class="site-footer txt-center">
  <hr>

  <ul class="social">
    {% for item in site.social %}
      {% for i in item %}
        <li><a href="{{ i.link }}" target="_blank"><i class="icon icon-{{ i.slug }}"></i></a></li>
      {% endfor %}
    {% endfor %}
  </ul>

  <small>&copy; {{ site.time | date: '%Y' }} All rights reserved.</small>

</footer>
