<nav class="pagination" role="pagination">
  <ul>
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li><a class="next" href="{{ "/" | prepend: site.baseurl }}" title="Articles new">&laquo; 이전</a></li>
      {% else %}
        <li><a class="next" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/" title="Articles new">&laquo; 이전</a></li>
      {% endif %}
    {% endif %}

    <li><span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span></li>

    {% if paginator.next_page %}
      <li><a class="prev" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/" title="Articles old">다음 &raquo;</a></li>
    {% endif %}
  </ul>
</nav>